@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*{
    font-family: 'Roboto', sans-serif;        
}

.intro{
    padding: 20px;        
}

.bio{
    max-width: 600px;
}

.emerald{
    color: #00a651;
}

.pfp{
    max-width: 300px;
}
